<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /esg/

    # Direct requests for real files/dirs pass through
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all other URLs to index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
